<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Master list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <h1>List of all Star Wars Vehicles</h1>

    <div *ngFor="let vehicle of vehicles" (click)="navigateTodetails(vehicle)">
      <app-vehicle-item [vehicle]="vehicle" [detailledMode]="false"></app-vehicle-item>
    </div>
  </div>

</ion-content>